
/*exit button*/

.exit {
    position: absolute;
    left: 1rem;
    top: 2rem;
    width: 3.2rem;
    height: 3.2rem;
    opacity: 1;
    z-index: 0;
    content: '-';
    color: black;
  }
  .exit:hover {
    transition: all 0.5s;
    opacity: 0.3;
  }
  .exit:before, .exit:after {
    position: absolute;
    left: 1.5em;
    content: ' ';
    height: 1.5em;
    width: 0.2em;
    background-color: rgb(255, 255, 255);
  }
  .exit:before {
    top: -25%;
    transform: rotate(45deg);
  }
  .exit:after {
    top: 23%;
    transform: rotate(-45deg);
  }

  /*Dev*/



.db-dev{
    z-index: 1;
    transition:all ease-in-out 0.5s;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.db-dev>h4{
    font-size: 2.4rem;
    font-weight: 700;
    font-family: var(---title-font-family);
    color: rgb(255, 255, 255);
    text-align: center;
    width: 100%;
    background: linear-gradient(to bottom right,rgb(40, 38, 39),rgb(18, 11, 11));
    box-shadow: rgb(132, 132, 132) .1rem .1rem 1rem .1rem;
    padding: 2rem;
    border-radius:0 0 2rem 2rem;
}
.dis-dev{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:2rem;
    margin: 1rem;;
    
}

.dis-dev>li>figure{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: beige;
    gap: 1rem;
    width: fit-content;
    padding: 1rem;
    background: linear-gradient(to bottom right,rgb(76, 72, 74),rgb(44, 37, 37));
    border-radius: 2rem;
}
.dis-dev>li>figure>img{
    width: 14vw;
    background-color: #fff;
    border-radius: 1rem;
}
.dis-dev>li>figure>figcaption>h5{
    font-size: 2rem;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-align: center;
    margin:0;
}
.dis-dev>li>figure>ul{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

}
.dis-dev>li>figure>ul>li{
    font-size: 1rem;
    background-color: rgb(89, 125, 232);
    color: #fff;
    padding: 0.5rem;
    border-radius: 2rem;
    font-weight: 500;
    text-align: center;

}

/* Graph */

.dis-graph{
    display: grid;
    width: 100%;
    gap: 1rem;
}
.db-dev>h5{
    font-family: var(---title-font-family);
    font-size: 2rem;
    margin : 0.5rem;
    
}
.dis-graph>li{
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    border-radius: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    height: 15vh;
}
.dis-graph>li:nth-child(1){
    background: linear-gradient(to bottom right,rgb(58,170,252),rgb(5, 72, 119));
}
.dis-graph>li:nth-child(2){
    background: linear-gradient(to bottom right,rgb(252,153,39),rgb(163, 8, 11));
}
.dis-graph>li:nth-child(3){
    background: linear-gradient(to bottom right,rgb(252, 39, 192),rgb(209, 45, 47));
}
.dis-graph>li:nth-child(4){
    background: linear-gradient(to bottom right,rgb(40, 38, 39),rgb(18, 11, 11));
}
.dis-graph>li>h6{
    font-size: 2.6rem;
    margin: 0;
    color: #fff;
    margin-top: 1rem;
    margin-left: 1rem;
    text-align: center;
}
.dis-graph>li>img{
    float: left;
}


@media screen and (max-width: 820px){
    .dis-dev>li>figure{
        width: 100%;
        margin: 0;
    }
    .dis-dev{
        width: 100%;
    }
    .dis-dev{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap:2rem;
        width: 95%;
        margin-left: 2rem;
        margin-right: 2rem;
        
    }
    .dis-dev>li>figure{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        width: 100%;
        padding: 1rem;
        background-color: rgb(80, 73, 73);
        border-radius: 2rem;
    }
    .dis-dev>li>figure>img{
        width: 14vw;
        background-color: #fff;
        border-radius: 1rem;
    }
    .dis-dev>li>figure>figcaption>h5{
        font-weight: 700;
        color: rgb(255, 255, 255);
        text-align: center;
        margin:0;
    }
    .dis-dev>li>figure>ul{
        display: grid;
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    
    }
    .dis-dev>li>figure>ul>li{
        font-size: 2vw;
        background-color: rgb(89, 125, 232);
        color: #fff;
        padding: 1rem;
        border-radius: 2rem;
        text-align: center;
    
    }
}