.skills{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    font-family: var(---p-font-family);
    height: 100vh;
}
.skills>div>h2{
    font-family: var(---title-font-family);
    font-size: 4em;
    font-weight: 700;
    color: var(---font-light-color);
}
.skills>div>p{
    font-family: var(---p-font-family);
    font-size: 1.6em;
    font-weight: 300;
    color: var(---font-light-color);
}
.skills>div>button{
    font-family: var(---p-font-family);
    font-size: 1.6rem;
    font-weight: 500;
    color: var(---font-light-color);
;    border: 0.1em solid var(---font-light-color);
    padding: 1em;
    border-radius: 4em 4em 4em 4em;
}


.cards-dis>li>img{
    width: 6.4rem;
    height: 6.4rem;

}
@media screen and (max-width: 768px) {
    .skills{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}
