:root{
    
    ---font-light-color:rgb(255, 255, 255);
    ---font-dark-color:rgb(58, 64, 145);
    ---title-size:4rem;
    ---title-font-family:'Josefin Sans', sans-serif;
    ---p-font-family:'Roboto', sans-serif;
    
}